.skm-form-generator {
  padding: 25px;
  min-width: 255px;
  border: 1px solid #e5e5e5;
  background: #fff;
  max-width: 700px; }
  .skm-form-generator .skm-third {
    width: 33%;
    max-width: 228px;
    padding-right: 20px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .skm-form-generator .skm-third input {
      width: 100%; }
  .skm-form-generator label {
    display: block;
    margin-bottom: 10px; }
    .skm-form-generator label.skm-format-label {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 7px;
      margin-right: 10px; }
  .skm-form-generator .skm-products-found {
    display: inline-block;
    margin-top: 30px; }

.skm-button-wrapper {
  margin-top: 30px; }
  .skm-button-wrapper p {
    margin-bottom: 0; }

.skm-clearfix {
  clear: both; }

.skm-ta-right {
  text-align: right; }

.skm-ta-left {
  text-align: left; }

.skm-smaller-text {
  font-size: 13px;
  color: #777; }

.skm-p-rel {
  position: relative; }

.skm-hidden {
  display: none; }

.skm-table-title {
  padding: 8px;
  display: block; }

.skm-mgt-20 {
  margin-top: 20px; }

.skm-new-added {
  background-color: #d6ffdd !important; }

.skm-going-to-remove {
  background-color: #ffdada !important; }

.jc-bs3-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }

.skm-loader-wrapper {
  background: rgba(241, 241, 241, 0.67);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }

.skm-loader::before {
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
  background: url("../images/loader.svg") center center;
  background-size: cover;
  color: rgba(0, 0, 0, 0.75);
  content: '';
  display: block;
  font-size: 2em;
  height: 1em;
  left: 50%;
  line-height: 1;
  margin-left: -0.5em;
  margin-top: -0.5em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 1em; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=skm-sales-report-admin.css.map */
